.pagination a {
  display: inline-block;
  width: 20px;
  padding: 8px 16px;
  margin: 10px;
  border: 1px solid lightgray;
  color: black;
  text-decoration: none;
  text-align: center;
}

#prev,
#next {
  width: 60px;
}

.active {
  background-color: lightseagreen;
  color: white;
}

form {
  margin-bottom: 10px;
}
