table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  margin-bottom: 10px;
}
th {
  background-color: lightblue;
}
tr {
  cursor: pointer;
  height: 40px;
  border-bottom: 1px solid lightgray;
}

td a {
  display: block;
  text-decoration: none;
  color: black;
}
