{% extends "base.html" %}

{% block search %}
  {% if pageName==="user" %} 
    {% include "partials/search.html" %} 
  {% endif %} 
{% endblock %}

{% block table %}
  <div id="mainTable">
    <table>
      <thead>
        {% for header in headers %}
          <th>{{ header }}</th>
        {% endfor %}
      </thead>
      <tbody>
        {% for row in table %} 
          <tr>
            {% if pageName == "orderitem" %}
                <td>{{row.Id}}</td>
                <td><a href="/order_detail/{{row.OrderId}}">{{row.OrderId}}</a></td>
                <td><a href="/item_detail/{{row.ItemId}}">{{row.ItemId}}</a></td>

            {% else %}
              {% for header in headers %}
                {% if header == "Id" %}
                  {% if pageName == "order" %}
                    <td><a href="/orderitem_detail/{{row[header]}}">{{row[header]}}</a></td>
                  {% else %}
                  <td><a href="/{{pageName}}_detail/{{row[header]}}">{{row[header]}}</a></td>   
                  {% endif %}

                {% else %}
                  <td>{{row[header]}}</td>
                {% endif %}
              {% endfor %}
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}

{% block pagination %}
  {% include "partials/pagination.html" %}
{% endblock %}
