{% extends "base.html" %}
{% block table %}
  <p>상품 정보</p>
  <table>
    <thead>
      <th>Name</th>
      <th>Unit Price</th>
    </thead>
    <tbody>
      {% for row in itemInfo %}
      <tr>
        <td>{{row.Name}}</td>
        <td>{{row.UnitPrice}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <p>월간 매출액</p>
  <table>
    <thead>
      <th>Month</th>
      <th>Revenue</th>
      <th>Count</th>
    </thead>
    <tbody>
      {% for row in monthlyRevenue %}
      <tr>
        <td>{{row.Month}}</td>
        <td>{{row.Revenue}}</td>
        <td>{{row.Count}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}