{% extends "base.html" %}
{% block table %}
  <table>
    <thead>
      <th>Id</th>
      <th>Order At</th>
      <th>Store Id</th>
      <th>User Id</th>
    </thead>
    <tbody>
      {% for row in orderInfo %}
      <tr>
        <td>{{row.Id}}</td>
        <td>{{row.OrderAt}}</td>
        <td><a href="/store_detail/{{row.StoreId}}">{{row.StoreId}}</a></td>
        <td><a href="/user_detail/{{row.UserId}}">{{row.UserId}}</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
