<!DOCTYPE html>
<html>
  <head>
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>사용자 테이블</h1>
    <table>
        <thead>
            {% for header in headers %}
            <th>{{ header }}</th>
            {% endfor %}
        </thead>
        <tbody>
            {% for data in Data %}
            <tr>
                {% for header in headers %}
                <td>{{ data[header] }}</td>
                {%endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="pagination">
      {%  for num in range(1, totalPages + 1) %}
        <a id="{{num}}" href="/?page={{num}}" {% if num == page %} class="active" {% endif %}>{{ num }}</a>
      {% endfor %}
    </div>
  </body>
</html>