*{
    box-sizing: border-box;
}

.frame1{
    background-color: rgb(230, 235, 240);
    width: 400px;
    margin: auto;
    margin-top: 10%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(230, 235, 240);
}

input{
    /* margin: 10%; */
    background-color: white;
    width: 375px;
    height: 100px;
    margin: 10px;
    margin-top: 20px;
    text-align: right;
    text-indent: 10%;
    padding-right: 20px;
    border: none;
    border-radius: 15px;
    color:black;
    font-size: 1.8em; 
    box-shadow: 0px 0px 2px 5px rgb(230, 235, 240) inset;
    overflow: auto;
    
}

input:focus{
    outline: none;
}

table{
    width: 400px;
    padding: 10px;
    border-spacing: 10px;
}


table td{
    width: 25%;
    height: 50px;
    background-color: white;
    color:grey;
    border-radius: 20px;
    padding:10%;
    font-size: 1em;
    box-shadow: 0px 0px 5px rgb(222, 238, 239);
}

.operator{
    background-color: aliceblue;
}

/* .result{
    position: absolute;

} */