<div id="table">
  <table>
    <thead>
      {% for header in headers %}
      <th>{{ header }}</th>
      {% endfor %}
    </thead>

    <tbody>
      {% for row in table %} {% if pageName == "order" %}
      <tr onclick="location.href='/orderitem_detail/{{row.Id}}';">
        {% for header in headers %}
        <td>{{row[header]}}</td>
        {% endfor %}
      </tr>
      {% elif pageName == "orderitem" %}
      <tr>
        <td><a href="/order/{{row.userId}}">{{row.OrderId}}</a></td>
        <td><a href="/item_detail/{{row.userId}}">{{row.ItemId}}</a></td>
      </tr>
      {% else %}
      <tr onclick="location.href='/{{pageName}}_detail/{{row.Id}}';">
        {% for header in headers %}
        <td>{{row[header]}}</td>
        {% endfor %}
      </tr>
      {% endif %} {% endfor %}
    </tbody>
  </table>
</div>
